<a [routerLink]="['/listings']">Back</a>
<br>
<h2 class="page-header">Edit Listing</h2>
<form ngNativeValidate (submit)="onEditSubmit()">
	<div class="form-group">
		<label>Titre</label>
		<input class="form-control" type="text" [(ngModel)]="title" [ngModelOptions]="{standalone: true}" required>
	</div>
	<div class="form-group">
		<label>Date</label>
		<input class="form-control" type="text" [(ngModel)]="date" [ngModelOptions]="{standalone: true}" required>
	</div>
	<div class="form-group">
		<label>Genre</label>
		<input class="form-control" type="text" [(ngModel)]="genre" [ngModelOptions]="{standalone: true}" required>
	</div>
	<div class="form-group">
		<label>Type</label>
		<input class="form-control" type="text" [(ngModel)]="type" [ngModelOptions]="{standalone: true}" required>
	</div>
	<div class="form-group">
		<label>Producteur</label>
		<input class="form-control" type="text" [(ngModel)]="productor" [ngModelOptions]="{standalone: true}" required>
	</div>
	<div class="form-group">
		<label>Saisons</label>
		<input class="form-control" type="text" [(ngModel)]="seasons" [ngModelOptions]="{standalone: true}" required>
	</div>
	<div class="form-group">
		<label>Synopsis</label>
		<input class="form-control" type="text" [(ngModel)]="synopsis" [ngModelOptions]="{standalone: true}" required>
	</div>
	<div class="form-group">
		<label>Trailer</label>
		<input class="form-control" type="text" [(ngModel)]="trailer" [ngModelOptions]="{standalone: true}" required>
	</div>
	<input class="btn btn-success" type="submit" value="Modifier">
</form>